.section {
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.section:nth-child(1) {
  background-color: chocolate;
}

.section:nth-child(2) {
  background-color: forestgreen;
}

.title {
    font-size: 40px;
    font-weight: 900;
}